/* Estilos para el encabezado personalizado */
.custom-header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-header .logo {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.custom-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-header nav ul li {
    display: inline;
    margin-left: 20px;
}

.custom-header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.custom-header .register-link,
.custom-header .login-link {
    padding: 10px 20px;
    background-color: #0d999e;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-header .register-link:hover,
.custom-header .login-link:hover {
    background-color: #2a00c4;
}

/* Estilos CSS para el contenido */
.profile-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

.profile-container h1 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}

.profile-container p {
    margin-bottom: 15px;
    font-size: 18px;
    color: #666;
}

.profile-container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.profile-container a:hover {
    color: #004085;
}


/* Estilos para el formulario de inicio de sesión */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container h1,
.login-container form,
.login-container label {
    margin-bottom: 15px;
}

.login-container h1 {
    font-size: 25px;
}

.login-container form {
    width: 350px;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container form label {
    display: block;
    font-weight: bold;
}

.login-container form input[type="email"],
.login-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: content-box;
}

.login-container form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000dc4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container form button[type="submit"]:hover {
    background-color: #000dc4;
}

/* Estilos para el formulario de registro */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-container form {
    width: 350px;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container form label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.register-container form input[type="text"],
.register-container form input[type="email"],
.register-container form input[type="password"],
.register-container form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

.register-container form button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000dc4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-container form button[type="submit"]:hover {
    background-color: #000dc4;
}
